*{
    font-family: 'Space Grotesk' sans-serif;
    font-size:18px;
}

body {
    color : white;
    background-color: black;
    
}
.container1 {
    margin:0 75px 0 75px;
    padding: 0 20px 0 20px;
    border-left: 2px;
    border-right: 2px;
    border-color: rgba(128, 128, 128, 0.493);
    border-style: solid ;
}
.container {
    margin:0 75px 0 75px;
    padding: 0 20px 0 20px;
    border: 2px solid rgba(128, 128, 128, 0.493);
}
.logohome {
    position: absolute;
    margin:20px 50px;
    padding-left: 50px;
}

.logohome :hover {
    background-color :#FFFF00;
}

nav h1{
    margin:20px 0 50px 0;
    padding:20px 0 50px 950px;
    text-decoration: none;
}

h1 {
    font-family: 'Rajdhani';
    font-style:normal;
    font-size: 36px;
}

button {
    
    font-family: 'Rajdhani';
    font-style:normal;
    font-size: 20px;
    background: linear-gradient(to right, #eddebf59, #890009a9);
    border: none;
    color: white;
}

.btn-1{
    margin: 20px;
    padding: 20px 40px;
}

.btn-2{
    margin: 20px;
    padding: 20px 30px;
}

button:hover,button:active {
    background:  linear-gradient(to right, #eddebf, #890009);
}


.bc-img{
    background-image: url("../Illustrations/Bathome1.png");
    background-repeat: no-repeat;
}

.logo-left{
    position: absolute;
    display: grid;
    grid-gap: 40px;

}

.part1{
    margin: 100px 150px;
    padding: 150px 110px ;

}

.part1>p,h3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture {
    margin: 20px 10px 20px;
    padding: 15px 20px 15px;
}

.comment {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}

.part{
    margin: 50px 50px 10px 15px;
    padding: 20px 100px 20px 15px;
    text-align:justify;
}

.fl_Down{
    display: flex;
    justify-content: center;
}

.part2{
    margin: 15px 50px 10px 30px;
    padding: 30px 100px 20px 30px;
    text-align:justify;
}

/*Carousel slide*/

.cadre {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    overflow: hidden;
    background: linear-gradient (to right,#eddebf,#19587D);
    color: white;
    font-family: 'Lato';
}


.centre {

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -22.5px;

}


.carousel {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}




.carousel .changeHidden {

    position: absolute;
    top: 0;
    left: 0%;
   
    height: 45px;
    overflow: hidden;

}


.carousel .changeHidden .contenant {

    position: relative;
    animation: carousel 8s ease-in-out infinite;

}


.carousel .changeHidden .element {
    display: block;
    font-weight: 700;
   
}


@keyframes carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-45px);
    }
    50%, 70% {
        transform: translateY(-90px);
    }
    75%, 95% {
        transform: translateY(-135px);
    }
    100% {
        transform: translateY(-180px);
    }
}

/*Carousel slide*/